html {
    background-color: papayawhip;
}


.result-container, .button-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container {
    width: 50%;
    height: 300px;    
}

.button-container input{
    width: 30%;
    height: 60%;
    background-color: bisque;
    border: 1px solid pink;
    border-radius: 15%;
}

.button-container input:hover {
    background-color: pink;
    border: 1px solid bisque;
}

.result-container {
    width: 50%;
    height: 100px;.
}